%h1 Properties matching your search

%table.table.table-bordered
  - @properties.each do |property|
    %tr
      %td= property.first_name
      %td= property.middle_name
      %td= property.last_name
      %td= property.street_address
      %td= property.city
      %td= property.postal_code
      %td= link_to property.id_number, property.property_url