%h1 Properties matching your search

%table#properties.table.table-bordered.tablesorter
  %thead
    %tr
      %th
        First Name
      %th
        Middle
      %th
        Last Name
      %th
        Address
      %th
        City
      %th
        Zip
      %th
        Link
  %tbody
    - @properties.each do |property|
      %tr
        %td= property.first_name
        %td= property.middle_name
        %td= property.last_name
        %td= property.street_address
        %td= property.city
        %td= property.postal_code
        %td= link_to property.id_number, property.property_url