%h1 
  #{@property.first_name} #{@property.middle_name} #{@property.last_name}
  
.row
  .span2
    Property Value
  .span4
    = number_to_currency(@property.cash_report)
    
.row
  .span2
    Address
  .span4
    #{@property.street_address}, #{@property.city} #{@property.state}
 
- if @property.property_reported.present?   
  .row
    .span2
      Reported By
    .span4
      = @property.property_reported

.row
  .span2
    Property Type
  .span4
    = @property.property_type
    
.row
  .span2
    Property ID
  .span4
    = @property.id_number
    

%h4
  More details on the 
  = link_to "California Unclaimed Property web site (#{@property.id_number})", "http://scoweb.sco.ca.gov/UCP/PropertyDetails.aspx?propertyID=#{@property.id_number}"