
.hero-unit
  %h1 Let us search for you
  %br
  %h3
    Forget about continually checking the 
    #{link_to "California unclaimed property search", "http://sco.ca.gov/upd.html"}.
  %p 
    We will do that for you.
  %p
    = link_to 'Sign Up &#187;'.html_safe, "/about", :class => 'btn btn-success btn-large'
    = link_to 'Learn More &#187;'.html_safe, "/about", :class => 'btn btn-primary btn-large'
      

.row
  .span6
    %h2 Latest Unclaimed CA Property
    %table.table
      - @properties.each do |property|
        %tr
          %td
            = link_to "#{property.first_name} #{property.middle_name} #{property.last_name}", property_path(property)
          %td
            #{property.city}, #{property.state}
            
          %td
            = number_to_currency(property.cash_report)
            
  .span6
    %h2 Sign Up To Receive Notifications
    = render :partial => 'notifications/form'
